<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pagamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <ion-slides pager="true" [options]="opt">
      <ion-slide>
        <ion-img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgO1iblu2IVAdrLk4cc1dMUNKWeK0YUTCligWnS5GGZw&s"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img
          src="https://image.cnbcfm.com/api/v1/image/104343462-SJ.jpg?v=1663074621&w=929&h=523&vtcrop=y"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img
          src="https://cdn.britannica.com/99/236599-050-1199AD2C/Mark-Zuckerberg-2019.jpg"></ion-img></ion-slide>
      <ion-slide>
        <ion-img
          src="https://media.cnn.com/api/v1/images/stellar/prod/221114115514-jeff-bezos-lauren-sanchez-intv-extra.jpg?c=original"></ion-img>
      </ion-slide>

    </ion-slides>
  </div>
</ion-content>
