<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pagamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <ion-slides pager="true" [options]="option">
      <ion-slide>
        <ion-img
          src="assets/slider/un3.jpg" class="img-slider"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img
          src="assets/slider/un4.jpg" class="img-slider"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img
          src="assets/slider/un5.jpg" class="img-slider"></ion-img></ion-slide>
      <ion-slide>
        <ion-img
          src="assets/slider/un6.jpg" class="img-slider"></ion-img>
      </ion-slide>

    </ion-slides>
  </div>
</ion-content>
