.img-logo{
  width: 50%;
  height: 3em;
}
.text-span{
  color: #fff;
  font-size: 13px;
}

ion-button{
  font-size: 11px;
}

.conta{
  font-weight: bold;
}

.estrela{
  font-weight:bold;
  color: #c3b513;
  font-size:24px;
}

ion-grid{
  background-color: #e04c07;
}
